<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          서울 서초구 반포대로 222성의회관 307호<br>
          입금계좌:&nbsp;우리은행&nbsp;1005-402-825425&nbsp;&nbsp;예금주:&nbsp;가톨릭의대 총동문회<br>
          TEL: 02-2258-7687/7688, FAX: 02-536-7915<br>
          <a href="mailto:cmc1332@catholic.ac.kr">E-mail: cmc1332@catholic.ac.kr</a>
        </p>
      </div>
    </div>
  </div>
</footer>
