<header class="fixed-top">
  <div class="content-inner">
    <nav class="navbar navbar-expand-lg navbar-light p-0">

      <a class="navbar-brand p-0" href="https://catholicmd.net" target="_blank"></a>
      <div>
        <button (click)="collapse = !collapse" class="navbar-toggler p-0" type="button" data-toggle="collapse"
          data-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false"
          aria-label="Toggle menu navigation">
          <i [ngClass]="{'navbar-toggler-icon': collapse, 'icon-close': !collapse }" aria-hidden="true"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse p-0 flex-row-reverse" id="navbarMenus">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-login" href="https://catholicmd.net/" target="_blank">공식 홈으로</a>
          </li>
          <li class="nav-item btn-logout-wrapper" *ngIf="user">
            <a class="btn btn-logout" (click)="logout()">LOGOUT</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
