<div [ngClass]="{'content-body patten-true': !opt }">
  <div class="content-wrapper" [ngClass]="{'no-top': opt}">
    <div class="content-inner">
      <div class="title-wrapper">
        <!-- <h2>{{router.url === "/main"?"Welcome Message":"Welcome"}}</h2> -->
        <h2>{{router.url === "/main"?"Welcome Message":"Welcome Message"}}</h2>
        <!-- <h2><span class="welcome-title-image"></span>Welcome Message</h2> -->
      </div>
    </div>
    <article [ngClass]="{ 'background-true' : !opt, 'about': !opt } ">
      <div class="content-inner is-about-detail" *ngIf="opt">
        <p [innerHTML]="event?.description | safeHtml "></p>
        <!-- <a *ngIf="opt" class="view-more" [routerLink]="'/about'">
          <span>더보기</span>
          <i class="icon-more" aria-hidden="true"></i>
        </a> -->
      </div>
      <div class="content-inner is-about-detail" *ngIf="!opt">
        <p [innerHTML]="event?.description2 | safeHtml "></p>
      </div>
    </article>
  </div>
</div>
