<div class="player-wrapper">
  <div class="player" [ngClass]="{'is-vod': !isLive}" *ngIf="liveUrl">
    <div class="player">
      <!-- ! 아이센스 유튜브 동영상 EMBED -->
      <div class='embed-container'>
        <iframe [src]="liveUrl" frameborder='0' allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="content-inner p-0">
    <div class="btn-collapse-wrapper d-flex justify-content-between" data-toggle="collapse" href="#collapse_agenda_list"
      role="button">
      <div class="btn-program">
        프로그램
      </div>
      <div>
        <img src="assets/img/ic_dropdown_class_up.png">
      </div>
    </div>
  </div>

  <!-- Agendas 강의 목록 -->
  <div class="program-agendas collapse" id="collapse_agenda_list">
    <div class="content-inner p-0">
      <div *ngFor="let agenda of agendas">
        <div *ngIf="agenda.isSession; else isAgenda">
          <app-session [session]="agenda" (detailFn)="goDetail($event)"></app-session>
        </div>
        <ng-template #isAgenda>
          <app-agenda [agenda]="agenda" (detailFn)="goDetail($event)">
          </app-agenda>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="chat-wrapper">
    <div class="chat-label font-weight-bold">댓글 {{totalReplys?totalReplys:0}}</div>
    <div class="reply not-drag">
      <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
        <div class="d-flex mb-1">
          <div class="w-85 textarea-wrapper" contenteditable="true">
            <textarea class="w-100 d-flex form-control" placeholder="의견을 남겨주세요." formControlName="content"></textarea>
          </div>
          <div class="text-right w-15 btu-submit-wrapper">
            <!-- 0/200  -->
            <button class="w-100 h-100 btn btn-submit" type="submit">등록</button>
          </div>
        </div>

      </form>
      <div class="reply-list">
        <div #commentList class="reply-history">
          <div class="reply-item"
            *ngFor="let reply of replys | paginate: {totalItems: pageSize*totalPageCount ,itemsPerPage: pageSize, currentPage: curPage}; let i = index">
            <div class="reply-user d-flex justify-content-between">
              <div class="d-flex">
                <div class="reply-user-name font-weight-bold mr-2">
                  {{reply?.member?.name}}
                </div>
                <div class="reply-user-date">
                  {{reply.createdAt | date: 'yyyy-MM-dd HH:mm' }}
                </div>
              </div>
              <div>
                <div class="dropdown" *ngIf="check(reply)">
                  <button class="dropdown_button" type="button" [id]="'pDrop_' + reply.id" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                      <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                    </svg>
                  </button>
                  <div class="dropdown-menu" [attr.aria-label]="'pDrop_'+reply.id">
                    <button class="dropdown-item" type="button" (click)="delete(reply)">삭제</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="reply-content d-flex justify-content-between">
              <div [innerHTML]="reply.content"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="reply-footer">
        <div class="container d-flex flex-wrap justify-content-center pagination-wrapper">
          <div>
            <pagination-template #p="paginationApi" (pageChange)="changePage($event)">
              <div class="custom-pagination">
                <div class="pagination-first-page" (click)="p.setCurrent(1)" [ngClass]="{'is-end': p.isFirstPage()}">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                      <path fill-rule="evenodd"
                        d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                  </span>
                </div>
                <div class="pagination-previous" [class.disabled]="p.isFirstPage()"
                  [ngClass]="{'is-end': p.isFirstPage()}" (click)="!p.isFirstPage()?p.previous():''">
                  <span *ngIf="!p.isFirstPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-chevron-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                  </span>
                  <span *ngIf="p.isFirstPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-chevron-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                    </svg>
                  </span>

                </div>
                <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value"
                  (click)="p.setCurrent(page.value)">
                  <span *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span>
                  <div *ngIf="p.getCurrent() === page.value">
                    <span>{{ page.label }}</span>
                  </div>
                </div>
                <div class="pagination-next" [class.disabled]="p.isLastPage()" [ngClass]="{'is-end': p.isLastPage()}" (click)="!p.isLastPage()?p.next():''">
                  <span *ngIf="!p.isLastPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                  </span>
                  <span *ngIf="p.isLastPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-chevron-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                  </span>
                </div>
                <div class="pagination-last-page" (click)="p.setCurrent(p.getLastPage())" [ngClass]="{'is-end': p.isLastPage()}">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                      <path fill-rule="evenodd"
                        d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                  </span>
                </div>
              </div>
            </pagination-template>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
