@import '../board.component.scss';

.board-write-body {
  .board-write-form {
    .row {
      margin-bottom: 8px;
    }

    .board-form-label {
      color: var(--gray25);
      font-size: 1.3rem;
      font-weight: 600;
      text-align: right;
    }

    .board-btn-wrapper {
      margin: 0;

      .board-btn {
        margin-right: 16px;
        background: var(--gray2);
        color: var(--gray25);
      }
    }

    input[type="radio"], input[type="checkbox"] {
        display: none;
    }

    input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
      .board-btn {
          background: var(--navy) ;
          color: var(--white) ;
      }
    }

    input[type="text"], textarea {
      padding: 16px;
      font-size: 1.2rem;
      background: var(--gray7);
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    input[type="text"] {
      min-height: 40px;
    }

    textarea {
      height: 256px;
    }
  }

  .board-write-form-footer {

    .board-writer-info-col {
      padding: 16px;
      background: var(--white);

      .board-writer-info {
        max-width: 612px;
      }
    }
  }
}

.board-write-footer {
  padding: 40px 0;

  .board-btn-wrapper {
    display: inline-flex;
    justify-content: center;
    width: 100%;

    .board-btn {
      margin: 0 8px;
      display: inline-block;
      border-width: 0;
    }
  }
}

@media( max-width: 991px ) {
  .board-write-body {
    .board-write-form {
      .board-form-label {
        margin-bottom: 8px;
        text-align: left;
      }
    }
  }
}

@media( max-width: 767px ) {
  .board-write-body {
    .board-write-form {
      .board-form-label {
        font-size: 1.2rem;
      }

      .board-btn-wrapper {
        .board-btn {
          margin-right: 8px;
        }
      }

      input[type="text"], textarea {
        padding: 8px 16px;
        font-size: 1.1rem;
      }

      input[type="text"] {
        min-height: 34px;
      }

      textarea {
        height: 200px;
      }
    }

    .board-write-form-footer {
      .board-writer-info-col {

        .board-writer-info {
          width: 100%;
          max-width: 450px;
        }
      }
    }
  }
}

@media( max-width: 575px ) {
  .board-write-body {
    .board-write-form-footer {
      margin: 0;

      .board-writer-info-col {
        padding: 0;

        .board-writer-info {
          max-width: 100%;

          .row {
            flex-direction: column;
          }

          .col  {
            flex: none;
            max-width: 100%;

            input {width: 98%;}
          }
        }
      }
    }
  }
}
