.banner-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1600px;

  position: relative;
  text-align: center;

  img {
    width: 100%;
    // max-width: 1600px;
    max-width: 1200px;
  }

  .m-banner-image {
    display: none;
    width: 100%;
    // height: 756px;
    // max-height: 89vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn-wrapper {
    text-align: center;
    animation: movement 1s ease 0s infinite alternate;
    -webkit-animation: movement 1s ease 0s infinite alternate;
  }

  .go-btn {
    margin-top: 24px;
    display: inline-block;
    width: 180px;

    &+span {
      display: block;
      padding-top: 8px;
      color: var(--purple);
    }

    img {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .banner-wrapper {
    padding: 0 16px;
  }
}
