<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="my-page-wrapper">
        <div class="title-wrapper">
          <h2>My Page</h2>
          <a (click)="logout()" class="login-status">Logout</a>
        </div>
        <article>
          <div class="my-page-inner personal-information">
            <h3>Profile</h3>
            <div class="info-wrapper">
              <div class="info-inner">
                <span class="info-title">Name</span>
                <p class="info-desc">{{user.name}}</p>
              </div>
              <!-- <div class="info-inner">
                <span class="info-title">Password</span>
                <p class="info-desc">
                  <a class="email-change" data-toggle="modal" data-target="#changePassword">
                    비밀번호 변경하기
                  </a>
                </p>
              </div> -->
              <div class="info-inner">
                <span class="info-title">E-mail</span>
                <p class="info-desc">{{user.email}}</p>
              </div>
              <!-- <div class="info-inner" *ngIf="user.phone">
                <span class="info-title">Phone Number</span>
                <p class="info-desc">{{user.phone}}</p>
              </div> -->
              <!-- <div class="info-inner" *ngIf="user.organization">
                <span class="info-title">Organization</span>
                <p class="info-desc">{{user.organization}}</p>
              </div> -->
              <!-- <div class="info-inner" *ngIf="user.depart">
                <span class="info-title">Dept</span>
                <p class="info-desc">{{user.depart}}</p>
              </div> -->
              <!-- <div class="info-inner" *ngIf="user.title">
                <span class="info-title">Title</span>
                <p class="info-desc">{{user.title}}</p>
              </div> -->
              <!-- <div class="info-inner" *ngIf="user.country">
                <span class="info-title">Country</span>
                <p class="info-desc">{{user.country}}</p>
              </div> -->
              <!-- <div class="info-inner" *ngIf="user.address">
                <span class="info-title">Medical License</span>
                <p class="info-desc">{{user.address}}</p>
              </div> -->
            </div>
          </div>

          <!-- <div class="my-page-inner viewing-record" *ngIf="user.isLog">
            <div class="title-wrapper">
              <h3>LIVE Record</h3>
            </div>
            <button class="btn-primary vod-show-hide"
              (click)="isShowLiveHistory = !isShowLiveHistory">{{isShowLiveHistory?"숨기기":"보기"}}</button>
            <ng-container *ngIf="isShowLiveHistory && histories">
              <ng-container *ngFor="let history of histories; let i = index;">
                <div class="history-wrapper">
                  <div class="date-wrapper">
                    <button class="btn btn-dark history-date-btn" type="button" data-toggle="collapse"
                      [attr.data-target]="'#dateCollapse'+i" aria-expanded="false"
                      [attr.aria-controls]="'dateCollapse'+i">
                      {{history.date}}
                    </button>
                    <div class="history-total-time">
                      {{history.hour}}h {{history.min}}m
                    </div>
                  </div>
                  <div class="collapse" [id]="'dateCollapse'+i">
                    <div class="card card-body history-room-wrapper"
                      *ngFor="let room of history.rooms | keyvalue; let j = index;">
                      <button class="btn btn-dark history-room-btn" type="button" data-toggle="collapse"
                        [attr.data-target]="'#roomCollapse'+i+'-'+j" aria-expanded="false"
                        [attr.aria-controls]="'roomCollapse'+i+'-'+j">
                        {{room.key}}
                      </button>
                      <div class="collapse session-wrapper" [id]="'roomCollapse'+i+'-'+j">
                        <div class="card card-body" *ngFor="let session of room.value">
                          <p class="item-title">
                            Title: {{session.title}}
                          </p>
                          <p class="item-time">
                            Time: {{ session.watchTime }}m
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div> -->

          <!-- ! VOD 시청시간 -->
          <!-- <div class="my-page-inner viewing-record" *ngIf="user.isLog">
            <div class="title-wrapper">
              <h3>VOD Record</h3>
              <span class="item-time-total">시청 합계:
                {{hourOfVod}}h {{minOfVod}}m {{secOfVod}}s
              </span>
            </div>
            <button class="btn-primary vod-show-hide"
              (click)="isShowVodHistory = !isShowVodHistory">{{isShowVodHistory?"숨기기":"보기"}}</button>
            <ng-container *ngIf="isShowVodHistory">
              <div class="item-vod" *ngFor="let vod of historiesOfVod">
                <div class="into-inner">
                  <p class="item-title" [innerHTML]="vod.title | safeHtml">
                  </p>
                  <span class="item-time">
                    In : {{vod.firstView}}
                  </span>
                  <span class="item-time">
                    Time : {{ vod.watchTime === '00:00'?'00m 00s':(vod.watchTime | date: "HH'h' mm'm' ss's''"   ) }}
                  </span>
                </div>
              </div>
            </ng-container>
          </div> -->
        </article>
      </div>
    </div>
  </div>
</div>

<!-- 비밀번호 변경 -->
<div class="modal changePassword fade" id="changePassword" data-backdrop="static" role="dialog"
  aria-labelledby="changePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 변경
        </div>
        <div class="modal-description">
        </div>

        <div class="input-form">
          <label for="password-old">Current Password</label>
          <input type="password" id="password-old" [(ngModel)]="PASSWORD_OLD">
        </div>

        <div class="input-form">
          <label for="password-new">New Password</label>
          <input type="password" id="password-new" [(ngModel)]="PASSWORD_NEW">
        </div>

        <div class="input-form">
          <label for="password-new-confirm">Confirm Password</label>
          <input type="password" id="password-new-confirm" [(ngModel)]="PASSWORD_CONFIRM">
        </div>

        <div class="submit-button">
          <button type="button" class="btn btn-block confirm-btn" (click)="changePassword()">
            Save
          </button>
          <button class="cancel" data-toggle="modal" data-target="#changePassword" (click)="cancelChangePwd()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
