<div class="player-wrapper">
  <div class="player-vod">
    <div class="left-wrapper" id="playerContainer" *ngIf="content">
      <video #videoPlayer id="videoJs" class="video-js vjs-big-play-centered vjs-default-skin">
      </video>
    </div>
  </div>
</div>
