<div class="content-body">
  <div class="player">
    <!-- ! 아이센스 유튜브 동영상 EMBED -->
    <div class='embed-container'>
      <iframe src='https://www.youtube.com/embed/9Z2QSs883vI' frameborder='0' allowfullscreen></iframe>
    </div>
  </div>
   <!-- 광고 구좌-->
   <div class="banners-wrapper" *ngIf="banners.length > 0">
    <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
    <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="6" [animationSpeed]="2"
      [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 14 }" [manageImageRatio]="true"
      [showArrow]="false" (imageClick)="imageClick($event)">
    </ng-image-slider>
    <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
  </div>
</div>
