.player {
  max-width: 80%;
  margin: 0 auto;

  .embed-container {
    margin: 0 auto;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 1200px;
    display: flex !important;
    justify-content: center !important;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex !important;
      justify-content: center !important;
    }
  }

  @media screen and (max-width: 767px) {
    max-width: 90%;
  }
}

.banners-wrapper {
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  padding: 0 34px;

  @media screen and (max-width: 767px) {
    width: 90%;
  }

  .banners-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 100%;
    background: #EAEAEA;
    cursor: pointer;

    &.banners-prev {
      left: 0;

      img {
        transform: rotate(-90deg);
      }
    }

    &.banners-next {
      right: 0;

      img {
        transform: rotate(90deg);
      }
    }
  }

  ng-image-slider {
    display: flex;

    .ng-image-slider {
      .ng-image-slider-container .main .img-div {
        position: relative;
        padding: 0 8px;
        box-shadow: none;
        border-radius: 0;
        cursor: pointer;

        img {
          max-width: 80%;
          max-height: 80%;
          border-radius: 0;
          // max-height: 40px ;
          cursor: pointer !important;
        }

        &::before {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 1px;
          height: 14px;
          border: 1px solid #E2E2E2;
          box-sizing: border-box;
          content: '';
        }
      }
    }
  }
}
