<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="vod d-flex justify-content-between"><u>대한정맥통증학회 제1차 추계학술대회</u><br class="d-block d-sm-none">
          <span class="vod-title-label"><i aria-hidden="true" class="icon-warning"></i><span class="slideX">
              대한정맥통증학회 제1차 추계학술대회는 평점이 제공되지 않습니다.
            </span>
          </span>
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <div class="category" *ngFor="let category of categories">
          <div class="category-title" *ngIf="category.categoryName">{{category.categoryName}}</div>
          <div class="vod-group-wrapper">
            <div *ngFor="let vod of category.vods" class="vod-group">
              <div class="img_box" (click)="vod.contents ? goDetail(vod) : ''">
                <img [src]="vod.thumbnailUrl || '/assets/img/thumbnail_temp.png'" alt="thumbnail_img"
                  class="rounded float-left thumbnail_style">

                <div *ngIf="vod.isOnOff; else isOffAir" class="is-on-off bg-danger text-white">ON</div>
                <ng-template #isOffAir>
                  <div class="is-on-off bg-dark text-white">OFF</div>
                </ng-template>
              </div>
              <div class="vod thumbnail_title_style">
                <div class="vod-info">
                  <div class="title title-click" *ngIf="vod.title" (click)="vod.contents ? goDetail(vod) : ''"
                    [innerHTML]="vod.title | safeHtml">
                  </div>

                  <div class="description" [innerHtml]="vod.description"></div>
                </div>
                <div class="speakers" *ngIf="vod.speakers">
                  <div class="speaker" *ngFor="let speaker of vod.speakers">
                    <div *ngIf="speaker.fullName" class="speaker-name">{{speaker.fullName}}</div>
                    <div *ngIf="speaker.company" class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">
  entryAlert MODAL Open
</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p class="text-left">
            [강연 시청방법 안내]<br><br>
            본 행사는 프로그램에 안내된 시간에 따라, 각 강의 영상의 재생버튼을
            직접 클릭하여 시청하는 방식으로 진행되며, 영상이 자동재생 되지 않으니
            반드시 참고하시어, 시청을 부탁드립니다.<br><br>

            강연에 대한 문의사항은 영상 하단 댓글을 통해서 질의해주시면,
            질의응답 VOD 영상 또는 연자 선생님의 답글을 통해 답변을 확인하실 수 있습니다. <br><br>

            [온라인 신청자 대상 경품추첨 안내]<br><br>
            대한정맥통증학회 제1차 추계학술대회 온라인 신청자를 대상으로 경품추첨이 진행됩니다.
            무작위 추첨을 통하여 총 17분을 선정하며, 선정되신 분들께는 주소와
            연락처를 확인하여 상품을 발송할 예정입니다.<br><br>

            당첨자 17분은 추후, 오른쪽 상단 공지사항 팝업에서 확인하실 수 있습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
          OK
        </button>
        <button class="btn btn-block btn-no-show" (click)="noModal()" data-toggle="modal" data-target="#entryAlert">
          1시간 동안 이 창을 열지 않음
        </button>
      </div>
    </div>
  </div>
</div>
