.search-wrapper {
  text-align: right;

  .select-box {
    width: 170px;
  }

  @media(max-width: 575px) {

    .search-input {
      width: 100%;
      max-width: 100%;
    }
  }
}

.category-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  gap: 8px;

  .category-item {
    background: var(--main-color);
    color: var(--white);
    font-size: 18px;

    &.active,
    &:hover {
      background: var(--main-color-active);
    }
  }
}

.top_btn {
  background: url(../../../assets/img/e-booth/top_btn.png) no-repeat center / contain;
  width: 90px;
  height: 90px;
  z-index: 99;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: url(../../../assets/img/e-booth/top_btn_hover.png) no-repeat center / contain;
    transition: 0.3s;
  }
}

.poster-list-table {
  width: 100%;

  th {
    text-align: center;
  }

  th,
  td {
    border: 1px solid var(--white);
    padding: 2px 8px;
  }

  th {
    height: 42px;
    background: var(--main-color-active);
    color: var(--white);
    font-size: 14px;
  }

  td {
    cursor: pointer;
    height: 54px;
    background: var(--gray2);

    font-size: 15px;

    &.subtitle {
      text-align: center;
    }

    p {
      margin-bottom: 0;

      &.text-title {
        font-size: 18px;
        margin-bottom: 6px;
      }

      &.text-author {
        font-weight: 800;
      }
    }
  }

  tr:hover {
    td {
      opacity: 0.8;
    }
  }

  @media screen and (max-width: 575px) {
    th {
      font-size: 13px;
    }

    td {
      font-size: 12px;
    }
  }
}

@media(max-width: 767px) {
  .search-wrapper {
    text-align: left;
  }
}

@media(max-width: 575px) {

  .search-wrapper {
    .select-box {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
  }
}
